* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }
  body {
    background-color: rgb(235, 234, 234);
    height: 100vh;
    position: relative;
  }
  header {
    position: relative;
    background-color: white;
    max-width: 1000px;
    margin-inline: auto;
    overflow: hidden;
    padding-bottom: 10px;
  }
  .head-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 26px;
  }
  .instaLogo {
    width: 120px;
    margin-top: 24px;
    margin-left: 12px;
  }
    
  .icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: right;
    align-items: center;
    width: 80px;
    height: 26px;
    margin-right: 16px;
    margin-top: 26px;
  }
  .icons img{
    width: 28px;
    height: 28px;
  }
  .stories-contein {
    display: flex;
    gap: 14px;
    margin-inline: 12px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .storiesBtn {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .storiesImg-block {
    border-radius: 50%;
    background-image: linear-gradient(to right, #833ab4,#fd1d1d,#fcb045); 
    padding: 2px;
    width: 70px;
    height: 70px;
    margin-bottom: 6px;
    padding: 2px;
  }
  .storiesImg {
    width: 70px;
    border-radius: 50%;
    cursor: pointer;
  }
  .addStory {
    position: absolute;
    top: 56px;
    left: 50px;
    cursor: pointer;
  }
  
  .storiesName {
    margin-inline: auto;
    font-size: 14.4px;
  }

  .stories-block-parent{
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  .stories-block{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    height: 100vh;
    background-color: black;
  }
  .stories-block img{
    width: 100%;
  }